<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-7">
            <div class="title-box">

                <h5>{{title}}</h5>

            </div>
        </div>
        <div class="ml-auto col-lg-6 col-md-6 col-sm-6 col-5 mb-4">
            <div class="dl float-right">
                <form action="/data/categorySortBooks/{{title}}" method="POST">
                    <div class="dl float-left">
                        <select class="custom-select" name="sortBooks" id="sortBooks" onchange="this.form.submit()">
                            <option class="text-muted" name="default" value="default">Sort by..</option>
                            <option name="sortTitleAsc" value="sortTitleAsc">Title:
                                A - Z</option>
                            <option name="sortTitleDesc" value="sortTitleDesc">
                                Title: Z - A</option>
                            <option name="sortPriceAsc" value="sortPriceAsc">Price:
                                Low - High</option>
                            <option name="sortPriceDesc" value="sortPriceDesc">
                                Price: High - Low </option>
                            <option name="sortBest" value="sortBest">Best Sellers</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        {{#each bookData}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="product-top">
                <a href="http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}">
                    <img src='http://localhost:8080/uploadedImages/{{this.BOOK_COVER}}'></a>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" onclick="location.href='http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}'">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <!-- <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i> -->
                <h3>{{this.BOOK_TITLE}}</h3>
                <h5>{{this.BOOK_AUTHOR}}</h5>
                <h5>{{this.BOOK_PRICE}}</h5>
            </div>
        </div>
        {{/each}}

    </div>
</div>
</div>